.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vertical-center {
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

button, a, select {
  cursor: pointer;
}

/* THIS IS ALL FOR THE NAV*/
/*#navbarHeader {*/
/*  !*This is the part that disappears*!*/
/*  background: #F5F5F7 !important;*/
/*}*/
/*#one {*/
/*  background: #444444 !important;*/
/*}*/

/*#logo {*/
/*  color : #FFFFFF;*/
/*}*/

/*.secondaryNav {*/
/*  background-color: #E8E8ED;*/
/*}*/

/*.btn.btn-light.dropdown1 {*/
/*  background: #444444 !important;*/
/*  color: #FFFFFF;*/
/*  !*background: blue !important;*!*/

/*}*/

/*.navbar-toggler-icon {*/
/*  color: #FFFFFF;*/
/*}*/

/*.dropdown2 {*/
/*  background: #E8F8FF !important;*/
/*}*/
